openapi: 3.0.3
info:
  description: |
    # Введение
    Помогает автоматизировать бизнес-процессы с помощью интеграции ваших сервисов с FinTablo: добавление/изменение/получение списков операций, а также управление статьями, проектами и контрагентами.
    
    # Авторизация
    Авторизация запросов осуществляется по средствам передачи заголовка ```Authorization``` со значением ```Bearer %token%```
    
    # Базовый url
    ```https://api.fintablo.ru```
    
    # Трейсинг
    В ответе каждого запроса к API будет лежать заголовок ```X-Request-Id``` — уникальный идентификатор запроса. Для диагностики работы вашего приложения, этот идентификатор с вашей стороны стоит сохранять или логировать.
    
    # Лимиты
    Установлены ограничения до 300 запросов в минуту.
    
  version: v1
  title: FinTablo API
servers:
  - url: https://api.fintablo.ru
security:
  - BearerAuth: []
x-tagGroups:
  - name: Сущности
    tags: 
      - Статьи
      - Счета
      - Контрагенты
      - Направления
      - Группы счетов
      - Группы контрагентов
  - name: Операции ДДС
    tags:
      - Операции ДДС
  - name: Сделки
    tags:
      - Товары
      - Закупки
      - Услуги
      - Статусы сделок
      - Сделки
      - Сделки. Планирование ДДС
      - Сделки. Планирование ДиР
  - name: Обязательства
    tags:
      - Статусы обязательств
      - Обязательства
  - name: Свободный ввод в ПиУ
    tags:
      - Статьи Прибылей и Убытков
      - Записи Прибылей и Убытков
  - name: Зарплата
    tags:
      - Справочник сотрудников
      - Ведомость месяца
      - Сдельная зарплата
  - name: Имущество
    tags:
      - Справочник имущества
      - График амортизации
tags:
  - name: Статьи
    description: Методы для управления статьями ДДС
  - name: Счета
    description: Методы для управления счетами ДДС
  - name: Контрагенты
    description: Методы для управления контрагентами ДДС
  - name: Направления
    description: Методы для управления направлениями ДДС
  - name: Группы счетов
    description: Методы для управления группами счетов ДДС
  - name: Группы контрагентов
    description: Методы для управления группами контрагентов ДДС
  - name: Операции ДДС
    description: Методы для управления операциями ДДС
  - name: Товары
    description: Методы для управления товарами сделок
  - name: Закупки
    description: Методы для управления закупками товаров
  - name: Услуги
    description: Методы для управления услугами сделок
  - name: Статусы сделок
    description: Методы для управления статусами сделок
  - name: Сделки
    description: Методы для управления сделками
  - name: Сделки. Планирование ДДС
    description: Методы для управления плановыми расходами по сделке
  - name: Сделки. Планирование ДиР
    description: Методы для управления плановыми расходами по сделке
  - name: Статусы обязательств
    description: Методы для управления статусами обязательств
  - name: Обязательства
    description: Методы для управления обязательствами
  - name: Справочник сотрудников
    description: Методы для управления сотрудниками
  - name: Ведомость месяца
    description: Методы для управления ведомостью месяца
  - name: Сдельная зарплата
    description: Методы для управления сдельными зарплатами по сделкам
  - name: Справочник имущества
    description: Методы для управления имуществом
  - name: График амортизации
    description: Методы для управления графиком амортизации
  - name: Свободный ввод в ПиУ
    description: Внесение данных по своим статьям в прибыли и убытки
paths:
  /v1/category:
    get:
      tags:
        - Статьи
      summary: Список статей
      operationId: v1-get-category
      description: Получение списка статей компании
      parameters:
        - in: query
          name: parentId
          description: ID родительской статьи
          schema:
            type: integer
        - in: query
          name: group
          description: "Группа статей\n
            * `income` - Поступления\n
            * `outcome` - Списания\n
            * `transfer` - Переводы"
          required: false
          schema:
            $ref: '#/components/schemas/group'
        - in: query
          name: type
          description: "Вид деятельности\n
            * `operating` - Операционная\n
            * `financial` - Финансовая\n
            * `investment` - Ивестиционная"
          schema:
            $ref: '#/components/schemas/categoryType'
        - in: query
          name: pnlType
          description: "Тип дохода/расхода для ОПиУ\n
            * `income` - Выручка\n
            * `income-under-ebitda` - Доход ниже EBITDA\n
            * `general-production` - Общепроизводственные расходы\n
            * `direct-variable` - Прямые переменные производственные расходы\n
            * `administrative` - Административные расходы\n
            * `commercial` - Коммерческие расходы\n
            * `outcome-under-ebitda` - Расходы ниже EBITDA\n
            * `under-profit` - Расходы ниже чистой прибыли\n
            * `refund-income-current` - Возврат/Выручка\n
            * `refund-income-past` - Возврат/Расходы ниже EBITDA"
          schema:
            $ref: '#/components/schemas/pnlType'
      responses:
        '200':
          description: Список статей в соответствии с критериями запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
              example:
                status: 200
                items:
                  - id: 345
                    name: Неразнесенное поступление
                    parentId:
                    group: income
                    type: operating
                    pnlType: income
                    description: Статья для поступлений по-умолчанию
                    isBuiltIn: 1
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid type
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Статьи
      summary: Добавление статьи
      operationId: v1-post-category
      description: Добавление статьи компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryAddRequest'
            example:
              name: Продажи товара
              group: income
              type: operating
              pnlType: income
              description: Продажи со склада
        required: true
      responses:
        '200':
          description: Параметры добавленной статьи
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
              example:
                status: 200
                items:
                  - id: 345
                    name: Продажи товара
                    group: income
                    type: operating
                    pnlType: income
                    description: Продажи со склада
                    isBuiltIn: 0
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item cannot be child of built in
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid type
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/category/{id}:
    get:
      tags:
        - Статьи
      summary: Данные статьи
      operationId: v1-get-category-id
      description: Получение статьи компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID статьи
          schema:
            type: integer
      responses:
        '200':
          description: Параметры статьи с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
              example:
                status: 200
                items:
                  - id: 345
                    name: Неразнесенное поступление
                    parentId:
                    group: income
                    type: operating
                    pnlType: income
                    description: Статья для поступлений по-умолчанию
                    isBuiltIn: 1
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Статьи
      summary: Изменение статьи
      operationId: v1-put-category-id
      description: Изменение статьи компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID статьи
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryEditRequest'
            example:
              pnlType: income
              description: Продажи со склада
        required: true
      responses:
        '200':
          description: Параметры измененной статьи
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
              example:
                status: 200
                items:
                  - id: 345
                    name: Продажи товара
                    group: income
                    type: operating
                    pnlType: income
                    description: Продажи со склада
                    isBuiltIn: 0
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item is built in
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid type
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Статьи
      summary: Удаление статьи
      operationId: v1-delete-category-id
      description: Удаление статьи компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID статьи
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item is built in
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid type
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/moneybag:
    get:
      tags:
        - Счета
      summary: Список счетов
      operationId: v1-get-moneybag
      description: Получение списка счетов компании
      parameters:
        - in: query
          name: type
          description: "Тип счетов\n
            * `nal` - Наличные счета и кассы\n
            * `bank` - Расчетные счета в банке\n
            * `card` - Банковские карты\n
            * `electron` - Электронные и виртуальные счета\n
            * `acquiring` - Эквайринг"
          required: false
          schema:
            $ref: '#/components/schemas/MoneybagType'
        - in: query
          name: currency
          description: "Валюта счета\n
            Доступны: RUB,USD,EUR,AUD,AZN,GBP,AMD,BYN,BGN,BRL,HUF,HKD,DKK,INR,KZT,CAD,KGS,CNY,\n
            MDL,NOK,PLN,RON,XDR,SGD,TJS,TRY,TMT,UZS,UAH,CZK,SEK,CHF,ZAR,KRW,JPY,AED,AFN,ALL,ANG,\n
            AOA,ARS,AWG,BAM,BBD,BDT,BHD,BIF,BMD,BND,BOB,BSD,BTC,BTN,BWP,BZD,CDF,CLF,CLP,COP,CRC,\n
            CUC,CUP,CVE,DJF,DOP,DZD,EGP,ERN,ETB,FJD,FKP,GEL,GGP,GHS,GIP,GMD,GNF,GTQ,GYD,HNL,HRK,\n
            HTG,IDR,ILS,IMP,IQD,IRR,ISK,JEP,JMD,JOD,KES,KHR,KMF,KPW,KWD,KYD,LAK,LBP,LKR,LRD,LSL,\n
            LTL,LVL,LYD,MAD,MGA,MKD,MMK,MNT,MOP,MRO,MUR,MVR,MWK,MXN,MYR,MZN,NAD,NGN,NIO,NPR,NZD,\n
            OMR,PAB,PEN,PGK,PHP,PKR,PYG,QAR,RSD,RWF,SAR,SBD,SCR,SDG,SHP,SLL,SOS,SRD,STD,SVC,SYP,\n
            SZL,THB,TND,TOP,TTD,TWD,TZS,UGX,UYU,VEF,VND,VUV,WST,XAF,XAG,XAU,XCD,XOF,XPF,YER,ZMK,ZMW,ZWL"
          schema:
            type: string
        - in: query
          name: groupId
          description: Уникальный идентификатор группы счетов
          schema:
            type: integer
        - in: query
          name: archived
          description: флаг архивного счета
          schema:
            type: integer
        - in: query
          name: hideInTotal
          description: флаг неучета остатков по счету в общем остатке
          schema:
            type: integer 
        - in: query
          name: withoutNds
          description: Флаг неучета НДС в операции по счету. Не влияет на налоговый режим при выбранном наборе ставок “Россия” и “Россия + Казахстан”
          schema:
            type: integer 
      responses:
        '200':
          description: Список счетов в соответствии с критериями запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagsResponse'
              example:
                status: 200
                items:
                  - id: 375
                    name: Касса
                    type: nal
                    number:
                    currency: RUB
                    balance: 100000
                    surplus: 50000
                    surplusTimestamp: 1622494800
                    groupId: 342
                    archived: 0
                    hideInTotal: 0
                    withoutNds: 0
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid type
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Счета
      summary: Добавление счета
      operationId: v1-post-moneybag
      description: Добавление счета компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoneybagAddRequest'
            example:
              name: "Р/с *0044"
              type: bank
              number: 00000000000000044
              currency: RUB
              balance: 100000
              surplus: 500000
              surplusTimestamp: 1622494800
              groupId: 342
              archived: 0
              hideInTotal: 0
              withoutNds: 0
        required: true
      responses:
        '200':
          description: Параметры добавленного счета
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagsResponse'
              example:
                status: 200
                items:
                  - id: 345
                    name: "Р/с *0044"
                    type: bank
                    number: 00000000000000044
                    currency: RUB
                    balance: 100000
                    surplus: 500000
                    surplusTimestamp: 1622494800
                    groupId: 342
                    archived: 0
                    hideInTotal: 0
                    withoutNds: 0
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The groupId is not found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid type
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/moneybag/{id}:
    get:
      tags:
        - Счета
      summary: Данные счета
      operationId: v1-get-moneybag-id
      description: Получение счета компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID счета
          schema:
            type: integer
      responses:
        '200':
          description: Параметры счета с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagsResponse'
              example:
                status: 200
                items:
                  - id: 375
                    name: Касса
                    type: nal
                    number:
                    currency: RUB
                    balance: 100000
                    surplus: 50000
                    surplusTimestamp: 1622494800
                    groupId: 342
                    archived: 0
                    hideInTotal: 0
                    withoutNds: 0
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Счета
      summary: Изменение счета
      operationId: v1-put-moneybag-id
      description: Изменение счета компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID счета
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoneybagEditRequest'
            example:
              name: Старый расчетный счет
              archived: 1
        required: true
      responses:
        '200':
          description: Параметры измененного счета
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagsResponse'
              example:
                status: 200
                items:
                  - id: 345
                    name: Старый расчетный счет
                    type: bank
                    number: 00000000000000044
                    currency: RUB
                    balance: 100000
                    surplus: 500000
                    surplusTimestamp: 1622494800
                    groupId: 342
                    archived: 1
                    hideInTotal: 0
                    withoutNds: 0
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: Invalid type
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Счета
      summary: Удаление счета
      operationId: v1-delete-monaybag-id
      description: Удаление счета компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID счета
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/partner:
    get:
      tags:
        - Контрагенты
      summary: Список контрагентов
      operationId: v1-get-partner
      description: Получение списка контрагентов компании
      parameters:
        - in: query
          name: name
          description: Наименовение контрагента или его часть
          required: false
          schema:
            type: string
        - in: query
          name: inn
          description: ИНН контрагента
          schema:
            type: string
        - in: query
          name: comment
          description: Комментарий
          schema:
            type: string
        - in: query
          name: groupId
          description: Уникальный идентификатор группы контрагентов
          schema:
            type: integer
      responses:
        '200':
          description: Список контрагентов в соответствии с критериями запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnersResponse'
              example:
                status: 200
                items:
                  - id: 897
                    name: ИП Иванов И.И.
                    inn: 77700000000
                    groupId: 142
                    comment: Важный контрагент
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: The groupId is not found"
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Контрагенты
      summary: Добавление контрагента
      operationId: v1-post-partner
      description: Добавление контрагента компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerAddRequest'
            example:
              name: ИП Иванов И.И.
              inn: 77700000000
              groupId: 142
              comment: Важный контрагент
        required: true
      responses:
        '200':
          description: Параметры добавленного контрагента
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnersResponse'
              example:
                status: 200
                items:
                  - id: 897
                    name: ИП Иванов И.И.
                    inn: 77700000000
                    groupId: 142
                    comment: Важный контрагент

        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The groupId is not found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Required fields not exist
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/partner/{id}:
    get:
      tags:
        - Контрагенты
      summary: Данные контрагента
      operationId: v1-get-partner-id
      description: Получение контрагента компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID контрагента
          schema:
            type: integer
      responses:
        '200':
          description: Параметры контрагента с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnersResponse'
              example:
                status: 200
                items:
                  - id: 897
                    name: ИП Иванов И.И.
                    inn: 77700000000
                    groupId: 142
                    comment: Важный контрагент

        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Контрагенты
      summary: Изменение контрагента
      operationId: v1-put-partner-id
      description: Изменение контрагента компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID контрагента
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerEditRequest'
            example:
              name: ИП Петров В.В.
        required: true
      responses:
        '200':
          description: Параметры измененного контрагента
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnersResponse'
              example:
                status: 200
                items:
                  - id: 897
                    name: ИП Петров В.В.
                    inn: 77700000000
                    groupId: 142
                    comment: Важный контрагент
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The groupId is not found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Контрагенты
      summary: Удаление контрагента
      operationId: v1-delete-partner-id
      description: Удаление контрагента компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID контрагента
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/direction:
    get:
      tags:
        - Направления
      summary: Список направлений
      operationId: v1-get-direction
      description: Получение списка направлений компании
      parameters:
        - in: query
          name: parentId
          description: ID родителького направления
          schema:
            type: integer
        - in: query
          name: archived
          description: Флаг архивного направления
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Список направлений в соответствии с критериями запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectionsResponse'
              example:
                status: 200
                items:
                  - id: 237
                    name: Интернет-магазин
                    parentId:
                    description: 
                    archived: 0
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Направления
      summary: Добавление направления
      operationId: v1-post-direction
      description: Добавление направления компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectionAddRequest'
            example:
              name: Интернет-магазин
              description: Продажи онлайн
        required: true
      responses:
        '200':
          description: Параметры добавленного направления
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectionsResponse'
              example:
                status: 200
                items:
                  - id: 245
                    name: Интернет-магазин
                    parentId:
                    description: Продажи онлайн
                    archived: 0
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item cannot be child of child item
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Required fields not exist
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/direction/{id}:
    get:
      tags:
        - Направления
      summary: Данные направления
      operationId: v1-get-direction-id
      description: Получение направления компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID направления
          schema:
            type: integer
      responses:
        '200':
          description: Параметры направления с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectionsResponse'
              example:
                status: 200
                items:
                  - id: 245
                    name: Интернет-магазин
                    parentId:
                    description: Продажи онлайн
                    archived: 0
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Направления
      summary: Изменение направления
      operationId: v1-put-direction-id
      description: Изменение направления компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID направления
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectionEditRequest'
            example:
              archived: 1
        required: true
      responses:
        '200':
          description: Параметры измененного направления
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectionsResponse'
              example:
                status: 200
                items:
                  - id: 245
                    name: Интернет-магазин
                    parentId:
                    description: Продажи онлайн
                    archived: 1
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item cannot be child of child item
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Направления
      summary: Удаление направления
      operationId: v1-delete-direction-id
      description: Удаление направления компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID направления
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item is related to others and cannot be removed
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/moneybag-group:
    get:
      tags:
        - Группы счетов
      summary: Список групп счетов
      operationId: v1-get-moneybag-group
      description: Получение списка групп счетов компании
      responses:
        '200':
          description: Список групп счетов
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagGroupsResponse'
              example:
                status: 200
                items:
                  - id: 167
                    name: Мой бизнес
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Группы счетов
      summary: Добавление группы счетов
      operationId: v1-post-moneybag-group
      description: Добавление группы счетов компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoneybagGroupAddRequest'
            example:
              name: Фонды
        required: true
      responses:
        '200':
          description: Параметры добавленной группы счетов
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagGroupsResponse'
              example:
                status: 200
                items:
                  - id: 543
                    name: Фонды
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Required fields not exist
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/moneybag-group/{id}:
    get:
      tags:
        - Группы счетов
      summary: Данные группы счетов
      operationId: v1-get-moneybag-group-id
      description: Получение группы счетов компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID группы счетов
          schema:
            type: integer
      responses:
        '200':
          description: Параметры группы счетов с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagGroupsResponse'
              example:
                status: 200
                items:
                  - id: 167
                    name: Мой бизнес
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Группы счетов
      summary: Изменение группы счетов
      operationId: v1-put-moneybag-group-id
      description: Изменение группы счетов компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID группы счетов
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoneybagGroupEditRequest'
            example:
              name: Основные
        required: true
      responses:
        '200':
          description: Параметры измененной группы счетов
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneybagGroupsResponse'
              example:
                status: 200
                items:
                  - id: 167
                    name: Основные
                  
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Группы счетов
      summary: Удаление группы счетов
      operationId: v1-delete-moneybag-group-id
      description: Удаление группы счетов компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID группы счетов
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item is related to others and cannot be removed
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/partner-group:
    get:
      tags:
        - Группы контрагентов
      summary: Список групп контрагентов
      operationId: v1-get-partner-group
      description: Получение списка групп контрагентов компании
      responses:
        '200':
          description: Список групп контрагентов
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerGroupsResponse'
              example:
                status: 200
                items:
                  - id: 167
                    name: Клиенты
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Группы контрагентов
      summary: Добавление группы контрагентов
      operationId: v1-post-partner-group
      description: Добавление группы контрагентов компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerGroupAddRequest'
            example:
              name: Подрядчики
        required: true
      responses:
        '200':
          description: Параметры добавленной группы контрагентов
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerGroupsResponse'
              example:
                status: 200
                items:
                  - id: 543
                    name: Подрядчики
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Required fields not exist
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/partner-group/{id}:
    get:
      tags:
        - Группы контрагентов
      summary: Данные группы контрагентов
      operationId: v1-get-partner-group-id
      description: Получение группы контрагентов компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID группы контрагентов
          schema:
            type: integer
      responses:
        '200':
          description: Параметры группы контрагентов с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerGroupsResponse'
              example:
                status: 200
                items:
                  - id: 167
                    name: Клиенты
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Группы контрагентов
      summary: Изменение группы контрагентов
      operationId: v1-put-partner-group-id
      description: Изменение группы контрагентов компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID группы контрагентов
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerGroupEditRequest'
            example:
              name: Покупатели
        required: true
      responses:
        '200':
          description: Параметры измененной группы контрагентов
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerGroupsResponse'
              example:
                status: 200
                items:
                  - id: 167
                    name: Покупатели
                  
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Группы контрагентов
      summary: Удаление группы контрагентов
      operationId: v1-delete-partner-group-id
      description: Удаление группы контрагентов компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID группы контрагентов
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: The item is related to others and cannot be removed
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction:
    get:
      tags:
        - Операции ДДС
      summary: Список операций ДДС
      operationId: v1-get-transaction
      description: Получение списка операций ДДС
      parameters:
        - in: query
          name: dateFrom
          description: Начальная дата выборки операций (дд.мм.гггг)
          schema:
            type: string
        - in: query
          name: dateTo
          description: Конечная дата выборки операций (дд.мм.гггг)
          schema:
            type: string
        - in: query
          name: group
          description: "Группа операций\n
            * `income` - Поступления\n
            * `outcome` - Списания\n
            * `transfer` - Переводы"
          required: false
          schema:
            $ref: '#/components/schemas/group'
        - in: query
          name: parentId
          description: ID родительcкой операции
          schema:
            type: integer
        - in: query
          name: categoryId
          description: ID статьи
          schema:
            type: integer
        - in: query
          name: partnerId
          description: ID контрагента
          schema:
            type: integer
        - in: query
          name: directionId
          description: ID направления
          schema:
            type: integer
        - in: query
          name: dealId
          description: ID сделки
          schema:
            type: integer
        - in: query
          name: moneybagId
          description: ID счета
          schema:
            type: integer
        - in: query
          name: valueFrom
          description: Минимальная сумма операции
          schema:
            type: number
        - in: query
          name: valueTo
          description: Максимальная сумма операции
          schema:
            type: number
        - in: query
          name: isPlan
          description: Флаг плановой операции
          schema:
            type: integer
        - in: query
          name: pageSize
          description: Количество операций в одной выдаче (странице). По умолчанию 50, максимальное значение 1000
          schema:
            type: integer   
        - in: query
          name: page
          description: Номер страницы
          schema:
            type: integer  
      responses:
        '200':
          description: Список операций ДДС в соответствии с критериями запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8865
                    value: 10000
                    moneybagId: 342
                    group: income
                    parentId:
                    description: Оплата от клиента
                    date: 25.06.2021
                    timestamp: 1624595318
                    categoryId: 356
                    partnerId: 234
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds:
                    obtainingId: 2
                  - id: 8869
                    value: 50000
                    moneybagId: 342
                    group: transfer
                    value2: 50000
                    moneybag2Id: 348
                    parentId:
                    description: Перевод собственных средств
                    date: 28.06.2021
                    timestamp: 1624854518
                    categoryId: 359
                    partnerId:
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds:
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid group
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Операции ДДС
      summary: Добавление операции ДДС
      operationId: v1-post-transaction
      description: Добавление операции ДДС
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAddRequest'
            example:
              value: 10000
              moneybagId: 342
              group: income
              description: Оплата от клиента
              date: 25.06.2021
              categoryId: 356
              partnerId: 234
              nds: 20
        required: true
      responses:
        '200':
          description: Параметры добавленной операции
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8865
                    value: 10000
                    moneybagId: 342
                    group: income
                    parentId:
                    description: Оплата от клиента
                    date: 25.06.2021
                    timestamp: 1624595318
                    categoryId: 356
                    partnerId: 234
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds: 20
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: Timestamp or date is reaquired
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid group
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction/{id}:
    get:
      tags:
        - Операции ДДС
      summary: Данные операции ДДС
      operationId: v1-get-transaction-id
      description: Получение операции ДДС
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции
          schema:
            type: integer
      responses:
        '200':
          description: Параметры операции с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8865
                    value: 10000
                    moneybagId: 342
                    group: income
                    parentId:
                    description: Оплата от клиента
                    date: 25.06.2021
                    timestamp: 1624595318
                    categoryId: 356
                    partnerId: 234
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds: 20
                    obtainingId: 54
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Операции ДДС
      summary: Изменение операции ДДС
      operationId: v1-put-transaction-id
      description: Изменение операции ДДС
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionEditRequest'
            example:
              description: Оплата по заказу № 3382
        required: true
      responses:
        '200':
          description: Параметры измененной операции
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8865
                    value: 10000
                    moneybagId: 342
                    group: income
                    parentId:
                    description: Оплата по заказу № 3382
                    date: 25.06.2021
                    timestamp: 1624595318
                    categoryId: 356
                    partnerId: 234
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds: 20
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Операции ДДС
      summary: Удаление операции ДДС
      operationId: v1-delete-transaction-id
      description: Удаление операции ДДС
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction/{id}/split:
    post:
      tags:
        - Операции ДДС
      summary: Разбить операцию ДДС
      operationId: v1-post-transaction-id-split
      description: Разбить операцию ДДС
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionSplitRequest'
            example:
              - value: 3000
                categoryId: 356
                partnerId: 234
              - value: 7000
                categoryId: 357
                partnerId: 239
        required: true
      responses:
        '200':
          description: Параметры операции
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8865
                    value: 10000
                    moneybagId: 342
                    group: income
                    description: Оплата от клиента
                    date: 25.06.2021
                    timestamp: 1624595318
                    nds: 20
                  - id: 8868
                    value: 3000
                    parentId: 8865
                    categoryId: 356
                    partnerId: 234
                  - id: 8869
                    value: 7000
                    parentId: 8865
                    categoryId: 357
                    partnerId: 239
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction/{id}/unsplit:
    post:
      tags:
        - Операции ДДС
      summary: Объединить разбитую операцию ДДС
      operationId: v1-post-transaction-id-unsplit
      description: Объединить разбитую операцию ДДС
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsUnsplitRequest'
            example:
              categoryId: 359
        required: true
      responses:
        '200':
          description: Параметры операции
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8865
                    value: 10000
                    moneybagId: 342
                    group: income
                    description: Оплата от клиента
                    date: 25.06.2021
                    timestamp: 1624595318
                    categoryId: 356
                    partnerId: 234
                    nds: 20
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction/{id}/merge/{id2}:
    post:
      tags:
        - Операции ДДС
      summary: Объединить две операции ДДС в перевод
      operationId: v1-post-transaction-id-merge
      description: Объединить две операции ДДС в перевод
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции списания
          schema:
            type: integer
        - in: path
          name: id2
          required: true
          description: ID операции поступления
          schema:
            type: integer
      responses:
        '200':
          description: Параметры операции
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8869
                    value: 50000
                    moneybagId: 342
                    group: transfer
                    value2: 50000
                    moneybag2Id: 348
                    parentId:
                    description: Перевод собственных средств
                    date: 28.06.2021
                    timestamp: 1624854518
                    categoryId: 359
                    partnerId:
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds:
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction/{id}/to-transfer:
    post:
      tags:
        - Операции ДДС
      summary: Преобразовать операцию ДДС в перевод
      operationId: v1-post-transaction-id-to-transfer
      description: Преобразовать операцию ДДС в перевод
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionToTransferRequest'
            example:
              value2: 50000
              moneybag2Id: 348
              categoryId: 359
        required: true
      responses:
        '200':
          description: Параметры операции
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8869
                    value: 50000
                    moneybagId: 342
                    group: transfer
                    value2: 50000
                    moneybag2Id: 348
                    parentId:
                    description: Перевод собственных средств
                    date: 28.06.2021
                    timestamp: 1624854518
                    categoryId: 359
                    partnerId:
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds:
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction/{id}/split-transfer:
    post:
      tags:
        - Операции ДДС
      summary: Разбить операцию перевода на 2 операции
      operationId: v1-post-transaction-id-split-transfer
      description: Разбить операцию перевода на 2 операции
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции перевода
          schema:
            type: integer
      responses:
        '200':
          description: Параметры операций
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8869
                    value: 50000
                    moneybagId: 342
                    group: outcome
                    description: Перевод собственных средств
                    date: 28.06.2021
                    timestamp: 1624854518
                    categoryId: 353
                    partnerId:
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds:
                  - id: 8943
                    value: 50000
                    moneybagId: 348
                    group: income
                    parentId:
                    description: Перевод собственных средств
                    date: 28.06.2021
                    timestamp: 1624854518
                    categoryId: 356
                    partnerId:
                    directionId:
                    factMonth: '06.2021'
                    spreadMonthes: 1
                    nds:
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/transaction/{id}/confirm:
    post:
      tags:
        - Операции ДДС
      summary: Подтвердить плановую операцию ДДС
      operationId: v1-post-transaction-id-confirm
      description: Подтвердить плановую операцию ДДС
      parameters:
        - in: path
          name: id
          required: true
          description: ID операции
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  example: "01.01.2024"
                  description: Фактическая дата операции
            example:
              date: "01.01.2024"
        required: true
      responses:
        '200':
          description: Параметры операции
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              example:
                status: 200
                items:
                  - id: 8865
                    value: 10000
                    moneybagId: 342
                    group: income
                    description: Оплата от клиента
                    date: 25.06.2021
                    timestamp: 1624595318
                    categoryId: 356
                    partnerId: 234
                    nds: 20
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/goods:
    get:
      tags:
        - Товары
      summary: Список товаров
      operationId: v1-get-goods
      description: Получение списка товаров компании
      responses:
        '200':
          description: Список товаров
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoodsResponse'
              example:
                status: 200
                items:
                  - id: 785
                    name: Набор инструментов
                    cost: 2000
                    comment: Набор для электромонтажа
                    quantity: 50
                    startQuantity: 10
                    avgCost: 1300
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid cost value
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    post:
      tags:
        - Товары
      summary: Добавление товара
      operationId: v1-post-goods
      description: Добавление товара компании
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoodsAddRequest'
            example:
              name: Набор инструментов
              cost: 2000
              comment: Набор для электромонтажа
              quantity: 50
              startQuantity: 10
              avgCost: 1300
        required: true
      responses:
        '200':
          description: Параметры добавленного товара
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoodsResponse'
              example:
                status: 200
                items:
                  - id: 785
                    name: Набор инструментов
                    cost: 2000
                    comment: Набор для электромонтажа
                    quantity: 50
                    startQuantity: 10
                    avgCost: 1300
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Invalid cost value
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/goods/{id}:
    get:
      tags:
        - Товары
      summary: Данные товара
      operationId: v1-get-goods-id
      description: Получение товара компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID товара
          schema:
            type: integer
      responses:
        '200':
          description: Параметры товара с указанным ID
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoodsResponse'
              example:
                status: 200
                items:
                  - id: 785
                    name: Набор инструментов
                    cost: 2000
                    comment: Набор для электромонтажа
                    quantity: 50
                    startQuantity: 10
                    avgCost: 1300
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: Unknown method
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    put:
      tags:
        - Товары
      summary: Изменение товара
      operationId: v1-put-goods-id
      description: Изменение товара компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID товара
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoodsEditRequest'
            example:
              comment: Обновленный набор
        required: true
      responses:
        '200':
          description: Параметры измененного товара
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoodsResponse'
              example:
                status: 200
                items:
                  - id: 785
                    name: Набор инструментов
                    cost: 2000
                    comment: Обновленный набор
                    quantity: 50
                    startQuantity: 10
                    avgCost: 1300
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: Invalid cost value
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
    delete:
      tags:
        - Товары
      summary: Удаление товара
      operationId: v1-delete-goods-id
      description: Удаление товара компании
      parameters:
        - in: path
          name: id
          required: true
          description: ID товара
          schema:
            type: integer
      responses:
        '200':
          description: Статус выполнения запроса
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              example:
                status: 200
                  
        '422':
          description: Ошибка при обработке данных
          content:
            application/json:
              example:
                status: 422
                statusText: No item found
        '400':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
                statusText: ID is required
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '429':
          description: Превышен лимит запросов
          content:
            application/json:
              example:
                status: 429
                statusText: Too many requests
  /v1/obtaining:
    get:
      tags:
        - Закупки
      summary: Список закупок
      operationId: v1-get-obtaining
      description: Получение списка закупок компании
      parameters:
        - in: query
          name: goodsId
          description: ID товара
          schema:
            type: integer
        - in: query
          name: partnerId
          description: ID поставщика
          schema:
            type: integer
        - in: query
          name: dateTo
          description: Конечная дата поставки в формате дд.мм.гггг
          schema:
            type: string
        - in: query
          name: dateFrom
          description: Начальная дата поставки в формате дд.мм.гггг
          schema:
            type: string
        - in: query
          name: currency
          description: "Валюта\n
                      Доступны: RUB,USD,EUR,AUD,AZN,GBP,AMD,BYN,BGN,BRL,HUF,HKD,DKK,INR,KZT,CAD,KGS,CNY,\n
                      MDL,NOK,PLN,RON,XDR,SGD,TJS,TRY,TMT,UZS,UAH,CZK,SEK,CHF,ZAR,KRW,JPY,AED,AFN,ALL,ANG,\n
                      AOA,ARS,AWG,BAM,BBD,BDT,BHD,BIF,BMD,BND,BOB,BSD,BTC,BTN,BWP,BZD,CDF,CLF,CLP,COP,CRC,\n
                      CUC,CUP,CVE,DJF,DOP,DZD,EGP,ERN,ETB,FJD,FKP,GEL,GGP,GHS,GIP,GMD,GNF,GTQ,GYD,HNL,HRK,\n
                      HTG,IDR,ILS,IMP,IQD,IRR,ISK,JEP,JMD,JOD,KES,KHR,KMF,KPW,KWD,KYD,LAK,LBP,LKR,LRD,LSL,\n
                      LTL,LVL,LYD,MAD,MGA,MKD,MMK,MNT,MOP,MRO,MUR,MVR,MWK,MXN,MYR,MZN,NAD,NGN,NIO,NPR,NZD,\n
                      OMR,PAB,PEN,PGK,PHP,PKR,PYG,QAR,RSD,RWF,SAR,SBD,SCR,SDG,SHP,SLL,SOS,SRD,STD,SVC,SYP,\n
                      SZL,THB,TND,TOP,TTD,TWD,TZS,UGX,UYU,VEF,VND,VUV,WST,XAF,XAG,XAU,XCD,XOF,XPF,YER,ZMK,ZMW,ZWL"
          schema:
            type: string
      responses:
        '200':
          description: Список закупок
          headers:
            X-Request-Id:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObtainingResponse'
              example:
                status: 200
                items:
                  - id: 56
                    goodsId: 1012
                    cost: 50
                    quantity: 100
                    amount: 5000
                    currency: RUB
                    partnerId: 78
                    date: 15.12.2021
                    comment: Закупка на склад от 15.12.21
                    nds: 500
        '401':
          description: Ошибка авторизации
          content:
            application/json:
              example:
                status: 401
                statusText: Your request was made with invalid credentials.
        '422':
          description: Некорректный запрос
          content:
            application/json:
              example:
                status: 400
[...]
